html, body {
    overflow-x: hidden !important;
}

body {
    width: 100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

a, .btn {
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #3395ff !important;
}

a.btn:hover {
    color: white !important;
}

#app {
    width: 100% !important;
    height: 100% !important;
}

.xterm .xterm-viewport {
    scrollbar-color: #4a4a4a #2d2d2d !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #4a4a4a !important;
    border-radius: 4px !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-track {
    background-color: #2d2d2d !important;
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.row.equal-cols:before, .row.equal-cols:after {
	display: block;
}

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 22px;
}
  
.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.bg-inherit {
    background-color: #ffffff !important;
}

[data-bs-theme='dark'] {
    .bg-inherit {
        background-color: #000000 !important;
    }
}

@media only screen and (max-width: 771px) {
    .desktop-only { display: none; }

    .mobile-only { display: block; }
}

@media only screen and (min-width: 770px) {
	.mobile-only { display: none; }
}