body {
    overflow-x: hidden;
    width: 100%;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) !important;
}

a, .btn {
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #3395ff !important;
}

a.btn:hover {
    color: white !important;
}

#app {
    width: 100% !important;
    height: 100% !important;
}

.xterm .xterm-viewport {
    scrollbar-color: #4a4a4a #2d2d2d !important;
}

.xterm .xterm-viewport::-webkit-scrollbar {
    width: 8px !important;
    height: 8px !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb {
    background-color: #4a4a4a !important;
    border-radius: 4px !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
    background-color: #6a6a6a !important;
}

.xterm .xterm-viewport::-webkit-scrollbar-track {
    background-color: #2d2d2d !important;
}

.bg-inherit {
    background-color: #ffffff !important;
}

[data-bs-theme='dark'] {
    .bg-inherit {
        background-color: #000000 !important;
    }
}

.blob {
    position: absolute;
    opacity: 0.5;
    width: 250px;
    aspect-ratio: 1/1;
    animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
    filter: saturate(100%) blur(40px);
    z-index: -1;
    background: linear-gradient(
        47deg,
        var(--bs-primary) 21%,
        var(--bs-info) 67%,
        var(--bs-teal) 81%
    );
}

@keyframes animate {
    0% {
        translate: 40% -25%;
        border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
    }
    50% {
        translate: 100% 20%;
        border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
        rotate: 41deg;
        scale: 1.15;
    }
    100% {
        translate: 15% 39%;
        border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
        rotate: -60deg;
        scale: 1.05;
    }
}

@media only screen and (max-width: 771px) {
    .desktop-only { display: none; }

    .mobile-only { display: block; }
}

@media only screen and (min-width: 770px) {
	.mobile-only { display: none; }
}