*, html, body, .btn {
    cursor: url("../assets/spaceship.cur"), auto !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

* {
    border-radius: 0px !important;
}

html {
	scroll-behavior: smooth;
}

html, body {
	margin: 0;
	padding: 0;
}

html::-webkit-scrollbar {
	width: 12px;
}

html::-webkit-scrollbar-track {
	background-color: var(--bs-primary);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--bs-primary);
    background-image: linear-gradient(to bottom, var(--bs-primary) 0%, var(--bs-secondary) 50%, var(--bs-primary) 100%);
}

body {
	overflow-x: hidden;
}

.header .container a {
    display: inline-block;
}

.nav-link, .ic-link, .hl-text, #what, .no-underline, .shimmer-with-hover, .footer a {
	transition: all 0.3s 0.1s ease-in;
}

.nav-link:hover, .ic-link:hover, .hl-text:hover, #what:hover, .shimmer-with-hover:hover, .footer a:hover {
	color: rgb(40, 144, 241);
}

.no-underline {
	text-decoration: none;
}

.card, .card-body {
	background-color: rgba(58, 63, 68, 0.4);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.navbar {
	background-color: rgba(58, 63, 68, 0.6);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

.window {
    border: 3px solid #fefefe;
    border-radius: 8px;
}

.window-header {
    padding: 6px;
    padding-left: 12px;
    background: #fefefe;
}

.window-header:after {
    content: "";
    display: table;
    clear: both;
}
  
.window-dot {
    margin-top: 4px;
    height: 12px;
    width: 12px;
    background-color: #eee;
    border-radius: 50% !important;
    display: inline-block;
}

.snippet {
    counter-reset: line-number;
    padding-left: 30px;
    font-family: monospace;
    position: relative;
    overflow-x: auto;
    display: block;
    max-height: 100%;
}

.snippet .line {
    display: block;
    position: relative;
}

.snippet .line::before {
    counter-increment: line-number;
    content: counter(line-number);
    position: absolute;
    left: -30px;
    width: 20px;
    padding-right: 12px;
    color: #888;
}

.code-keyword {
    color: var(--bs-blue);
}

.code-identifier {
    font-weight: bold;
}

.code-comment {
    font-style: italic;
    color: var(--bs-green);
}

.code-string {
    font-style: oblique;
    color: var(--bs-red);
}

.code-regex {
    color: var(--bs-orange);
}

.code-digits {
    color: var(--bs-teal);
}

.shimmer {
	-webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
	background-repeat: no-repeat;
	animation: shimmer 2.5s infinite;
}

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
  
.row.equal-cols:before, .row.equal-cols:after {
	display: block;
}

.row.equal-cols > [class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 22px;
}
  
.row.equal-cols > [class*='col-'] > * {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; 
}

.btn-outline-dark {
    border-color: var(--bs-white);
}

.btn-outline-dark:hover {
    color: var(--bs-dark);
    background-color: var(--bs-white);
    border-color: var(--bs-gray);
}

@keyframes shimmer {
	100% {
		-webkit-mask-position:left;
	}
}

@media only screen and (max-width: 771px) {
    .desktop-only { display: none; }

    .mobile-only { display: block; }
}

@media only screen and (min-width: 770px) {
	.mobile-only { display: none; }
}